@import "tailwindcss";

@theme{
  --font-sour-gummy : var(--font-sour-gummy),sans-serif;
  --color-tulipe : #ffffcb;
}

*{
    margin: 0;
    padding: 0;
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
}

#scroll_cat{
  scrollbar-color: rgba(174, 0, 255, 0.499) rgba(255, 166, 0, 0);
  scrollbar-width: thin;
}